#nav {
    padding: 20px;
    
  }
  
#nav a {
font-weight: bold;
color: #2c3e50;
}

#nav a.router-link-exact-active {
color: #42b983;
}
.nav-link {
    padding: 30px;
    font-size: large;
}
.navbar {
    background-color:lavenderblush;
}